<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Vue-Friends: Contact Card App</title>
  </head>
  <body>
    <main id="app">
      <header class="fixed-header">
        <div>
          <h1>Vue-Friends</h1>
        </div>
        <div class="header-item first-item">
          <label for="avatar-type">Avatar Type: </label>
        </div>
        <div class="header-item">
          <select id="avatar-type" v-model="avatarType">
            <option v-for="option in avatarOptions" v-bind:value="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>
        <div class="header-item">
          <input
            type="text"
            placeholder="Search by name"
            v-model="searchText"
          />
          <button @click="toggleForm">Add Friend</button>
        </div>
      </header>

      <section class="form-container" v-if="addForm">
        <div class="contact-form">
          <section class="row">
            <div class="label">
              <p>Name:</p>
            </div>
            <div class="details">
              <input
                id="name"
                type="text"
                placeholder="full name"
                :class="{required: fieldRequired}"
                v-model="newContact.name"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Username:</p>
            </div>
            <div class="details">
              <input
                id="username"
                type="text"
                placeholder="username"
                :class="{required: fieldRequired}"
                v-model="newContact.username"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Email:</p>
            </div>
            <div class="details">
              <input
                id="email"
                type="email"
                placeholder="email"
                :class="{required: fieldRequired}"
                v-model="newContact.email"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Phone:</p>
            </div>
            <div class="details">
              <input
                id="phone"
                type="text"
                placeholder="xxx-xxx-xxxx"
                v-model="newContact.phone"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Address:</p>
            </div>
            <div class="details">
              <input
                id="street"
                type="text"
                placeholder="street"
                v-model="newContact.address.street"
              /><br />
              <input
                class="address"
                id="suite"
                type="text"
                placeholder="apt/suite"
                v-model="newContact.address.suite"
              /><br />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>City:</p>
            </div>
            <div class="details">
              <input
                id="city"
                type="text"
                placeholder="city"
                v-model="newContact.address.city"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Zipcode:</p>
            </div>
            <div class="details">
              <input
                id="zipcode"
                type="text"
                placeholder="zipcode"
                v-model="newContact.address.zipcode"
              />
            </div>
          </section>
          <section class="row">
            <div class="label">
              <p>Website:</p>
            </div>
            <div class="details">
              <input
                type="text"
                placeholder="url"
                v-model="newContact.website"
              />
            </div>
          </section>
          <footer class="form-footer">
            <button @click="submitContact">Submit</button>
            <button @click="toggleForm">Cancel</button>
          </footer>
        </div>
      </section>

      <div class="card-container">
        <card
          v-for="contact in filterContacts"
          v-bind:avatar="avatarType"
          v-bind:contact="contact"
          v-bind:key="contact.id"
        ></card>
        <modal
          v-for="contact in filterContacts"
          v-bind:avatar="avatarType"
          v-bind:contact="contact"
          v-bind:key="contact.id + 'a'"
        ></modal>
      </div>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</html>
