<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <title>Vue-Friends: Contact Card App</title>
</head>
<body>
  <div id="app">

    <div class="fixed-header">
      <div>
        <h1>Vue-Friends</h1>
      </div>      
      <div class="header-item first-item">
        <label for="avatar-type">Avatar Type: </label>
      </div>
      <div class="header-item">
        <select id="avatar-type" v-model="avatarType">
          <option v-for="option in avatarOptions" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="header-item">
        <input type="text" placeholder="Search by name" v-model="searchText">
        <button @click="toggleForm">Add Friend</button>
      </div>
    </div>

    <div class="form-container" v-if="addForm">
      <div class="contact-form">
        <div class="row">
          <div class="label">Name: </div>
          <div class="details">
            <input id="name" type="text" placeholder="full name" :class="{required: fieldRequired}" v-model="newContact.name">
          </div>
        </div>
        <div class="row">
          <div class="label">Username: </div>
          <div class="details">
            <input id="username" type="text" placeholder="username" :class="{required: fieldRequired}" v-model="newContact.username">
          </div>
        </div>
        <div class="row">
          <div class="label">Email: </div>
          <div class="details">
            <input id="email" type="email" placeholder="email" :class="{required: fieldRequired}" v-model="newContact.email">
          </div>
        </div>
        <div class="row">
          <div class="label">Phone: </div>
          <div class="details">
            <input id="phone" type="text" placeholder="xxx-xxx-xxxx" v-model="newContact.phone">
          </div>
        </div>
        <div class="row">
          <div class="label">Address: </div>
          <div class="details">
            <input id="street" type="text" placeholder="street" v-model="newContact.address.street"><br>
            <input class="address" id="suite" type="text" placeholder="apt/suite" v-model="newContact.address.suite"><br>
            <input class="address" id="city" type="text" placeholder="city" v-model="newContact.address.city"><br>
            <input class="address" id="zipcode" type="text" placeholder="zipcode" v-model="newContact.address.zipcode">
          </div>
        </div>
        <div class="row">
          <div class="label">Website: </div>
          <div class="details">
            <input type="text" placeholder="url" v-model="newContact.website">
          </div>
        </div>
        <div class="form-footer">
          <button @click="submitContact">Submit</button>
          <button @click="toggleForm">Cancel</button>
        </div>
      </div>
    </div>

    <div class="card-container">
      <card v-for="contact in filterContacts" v-bind:avatar="avatarType" v-bind:contact="contact" v-bind:key="contact.id"></card>
      <modal v-for="contact in filterContacts" v-bind:avatar="avatarType" v-bind:contact="contact" v-bind:key="contact.id * 1000"></modal>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>
</html>
