/* GENERAL STYLING */

:root {
  --vue-blue: rgb(53, 73, 94);
  --vue-green: rgb(65, 184, 131);
  --vue-white: rgb(255, 255, 255);
  --lin-gradient: linear-gradient(to right,var(--vue-green),var(--vue-white), var(--vue-blue));
  --rad-gradient: radial-gradient(at center, var(--vue-white),var(--vue-green), var(--vue-blue));
  --vue-bl-border: rgb(53, 73, 94, .5);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--lin-gradient);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: var(--vue-blue);
}

button {
  height: 1.75rem;
  border: 1px solid var(--vue-blue);
  border-radius: 3px;
  background: var(--vue-blue);
  color: white;
}

button:active {
  transform: scale(0.95);
}

input, select {
  height: 1.5rem;
  border: 1px solid var(--vue-bl-border);
  border-radius: 3px;
  box-shadow: 1px 1px 5px;
  color: var(--vue-blue);
}

select {
  text-align-last: center;
}

input {
  padding-left: 8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

/* APP CONTAINER */

#app {
  padding-bottom: 10px;
}


/* FIXED HEADER */

.fixed-header {
  background: var(--lin-gradient);
  position: fixed;
  width: 100%;
  top: 0;
  padding-bottom: 10px;
  z-index: 1;
}

.header-item {
  padding-bottom: 5px;
}

h1 {
  margin: 0;
  font-family: 'Bungee Shade', cursive;
  color: var(--vue-blue);
}

/* MODALS (Add Contact Form & Full Contact Card) */

.modal-container, .form-container, .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-container, .form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  align-items: center;
  background: rgba(0, 0, 0, .4);
}

.full-card, .contact-form {
  background: var(--rad-gradient);
  height: 450px;
  width: 380px;
  max-width: 90vw;
  border: 1px solid var(--vue-bl-border);
  border-radius: 12px;
  margin: 10px;
  box-shadow: 5px 8px 10px;
}

.contact-form {
  padding: 10px;
}

.row {
  display: flex;
}

.label {
  flex: 3;
  text-align: right;
  margin: 3px;
  font-weight: 600;
}

.details {
  flex-direction: column;
  flex: 4;
  text-align: left;
  margin: 3px;
  margin-top: 0;
  font-weight: 400;
}

.address {
  margin-top: 3px;
}

.form-footer {
  margin-top: 1.5rem;
}

.required {
  border: 1px solid rgb(255, 0, 0);
}

.close {
  float: right;
  font-weight: bold;
  font-size: 36px;
  padding-right: 24px;
  padding-top: .75rem;
  margin-left: -43px;
  cursor: pointer;
}

.close:active {
  transform: scale(0.95);
}

.modal-avatar {
  width: 150px;
  height: 150px;
  margin-top: .75rem;
}



/* CONTACT CARDS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-card {
  background: var(--rad-gradient);
  width: 250px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 6px;
  margin: 10px;
  box-shadow: 5px 8px 10px;
}

.contact-card:hover {
  transform: scale(1.05);
}

.contact-card:active {
  transform: scale(0.95);
}

.avatar {
  width: 180px;
  height: 180px;
  margin-top: 16px;
}

.contact-name {
  margin-bottom: 0;
}

.contact-email {
  margin-top: 0;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 1.75em;
  }

  .card-container {
    padding-top: 160px;
  }  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }  

  .card-container {
    padding-top: 185px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.75em;
  }  

  .card-container {
    padding-top: 200px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3em;
  }  

  .card-container {
    padding-top: 210px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }  

  .card-container {
    padding-top: 225px;
  }

  .card-container {
    max-width: 1100px;
    margin: auto;
  }
}